<ion-header [translucent]="true" class="ion-no-boder">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label>
        <h1>Hi Users</h1>
        <ion-text>
          <p>Manage your to-do list here</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
   <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label>
          <p>To-do List</p>
          <ion-text color="light">{{lists.length}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>


    <ion-col>
      <ion-item lines="none">
        <ion-fab>
          <ion-fab-button id="open-modal" size="small">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </ion-col>
   </ion-row>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let list of lists">
      <ion-item>
        <div>
          <ion-label>{{list.shopping}}</ion-label>
          <ion-text color="medium">{{list.id | date:"MM/dd/YY"}}</ion-text>
        </div>
    
      <ion-text slot="end">R{{list.budget}}</ion-text>

    </ion-item>
    <ion-item-options>
      <ion-item-option>Edit</ion-item-option>
      <ion-item-option (click)="removeList(list.id)" color="danger">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  <!----model to add-->
 <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          
          <ion-button (click)="cancel()" [strong]="true">cancel</ion-button>
        </ion-buttons>
        <ion-title>create my to-do list</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Enter a list "
          labelPlacement="stacked"
          type="text"
          placeholder="shopping"
          [(ngModel)]="shopping"
        ></ion-input>
      </ion-item>
        <ion-input
          label="Enter a budget"
          labelPlacement="stacked"
          type="number"
          placeholder="budget"
          [(ngModel)]="budget"
        ></ion-input>


    </ion-content>
  </ng-template>

