<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Todo list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="open-modal">Add list</ion-button>

 <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button click="cancel" >cancel</ion-button>
        </ion-buttons>
        <ion-title>create my to-do list</ion-title>
        <ion-buttons slot="end">
          <ion-button click="Confirm">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Enter a list on what to do week 1"
          labelPlacement="stacked"
          type="text"
          placeholder="shopping"
          [(ngModel)]="shopping"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="budget of the shopping for week 1"
          labelPlacement="stacked"
          type="text"
          placeholder="budget"
          [(ngModel)]="budget"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Enter a list of what to do week 2"
          labelPlacement="stacked"
          type="text"
          placeholder="coding"
          [(ngModel)]="coding"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Enter budget of week 2"
          labelPlacement="stacked"
          type="text"
          placeholder="budget2"
          [(ngModel)]="budget"
        ></ion-input>
      </ion-item>

    </ion-content>
  </ng-template>

