#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header{
  ion-toobar.wrapper {
    --background : transparent;
    ion-item{
      margin: 1vh 0;
    }
    p{
      margin: 3px;
      font-size: 1.8rem;
      color: #9684eb;
      font-weight: bold;
    }
  }
}
ion-card{
  ---background: var(--ion-color-primary);
  
  ion-fab-button {
    --background : #9684eb;
  }
  ion-raw{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-item{
    margin: 3.5vh;
    --background:transparent;
    ion-label{
      font-size: 0.7rem;
    }
    ion-text{
      font-size: 2rem;
      font-weight: 100;
    }
  }
}